<script type="text/javascript">
	$(document).ready( function() {
		$('[data-toggle="tooltip"]').tooltip();
	});

	$(document).ready(function() {
		$('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
		$('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
	});
	
</script>
<div class="row" style="padding-left: 5%;">
	<h1>Resultados obtenidos:</h1>

	<div class="well well-sm">
		<div class="btn-group">
			<a href="#" id="grid" class="btn btn-default btn-sm"><span
				class="glyphicon glyphicon-th"></span>Galeria</a>
			</div>
		</div>



		<div id="products" class="row list-group">
			<%for i in 1..12%>
			<div class=" col-sm-6 col-md-4 col-xs-12 col-lg-3">
				<div class="thumbnail" style="text-align: center;" >
					<span class="spanPerfil"><strong>Andres Vidal Zemanate</strong></span>
					<h4>

						<span class="label label-info info">
							<span data-toggle="tooltip" title="viewed">257 <b class="glyphicon glyphicon-eye-open"></b></span>
							<span data-toggle="tooltip" title="viewed">3 <b class="glyphicon glyphicon-star"></b></span>
							<span data-toggle="tooltip" title="Bootstrap version">Calificacion</span>
						</span>
					</h4>
					<%=image_tag("/assets/perfil/perfilDefault.png", alt: "perfilDefault" ,class: "list-group-image")%>
					<a href="/profile/index" class="btn btn-primary col-xs-12" role="button">Ver Informacion <span class="glyphicon glyphicon-eye-open"></span></a>
					<div class="clearfix"></div>
				</div>
			</div>
			<%end%>
		</div>



