<div id="products" class="row list-group">
		      <div class="container">
                              <div class='row'>
                                 <div class="carousel slide media-carousel" id="media">
                                    <div class="carousel-inner">
                                       <div class="item  active">
                                          <div class="row">
                                             <%for i in 1 .. 8%>
                                                   <div class=" col-sm-6 col-md-4 col-xs-12 col-lg-3">
                                                <div class="thumbnail" style="text-align: center;" >
                                                    <span class="spanPerfil"><strong>Andres Vidal Zemanate</strong></span>
                                                    <h4>

                                                      <span class="label label-info info">
                                                        <span data-toggle="tooltip" title="viewed">257 <b class="glyphicon glyphicon-eye-open"></b></span>
                                                        <span data-toggle="tooltip" title="viewed">3 <b class="glyphicon glyphicon-star"></b></span>
                                                        <span data-toggle="tooltip" title="Bootstrap version">Calificacion</span>
                                                      </span>
                                                    </h4>
                                                    <%=image_tag("/assets/perfil/perfilDefault.png", alt: "perfilDefault" ,class: "list-group-image")%>
                                                    <a href="/profile/index" class="btn btn-primary col-xs-12" role="button">Ver Informacion <span class="glyphicon glyphicon-eye-open"></span></a>
                                                    <div class="clearfix"></div>
                                                  </div>
                                             </div>  
                                             <%end%> 
                                          </div>
                                       </div>
                                       <div class="item">
                                          <div class="row">
                                              <%for i in 1 .. 8%>
                                                   <div class=" col-sm-6 col-md-4 col-xs-12 col-lg-3">
                                                <div class="thumbnail" style="text-align: center;" >
                                                    <span class="spanPerfil"><strong>Andres Vidal Zemanate</strong></span>
                                                    <h4>

                                                      <span class="label label-info info">
                                                        <span data-toggle="tooltip" title="viewed">257 <b class="glyphicon glyphicon-eye-open"></b></span>
                                                        <span data-toggle="tooltip" title="viewed">3 <b class="glyphicon glyphicon-star"></b></span>
                                                        <span data-toggle="tooltip" title="Bootstrap version">Calificacion</span>
                                                      </span>
                                                    </h4>
                                                    <%=image_tag("/assets/perfil/perfilDefault.png", alt: "perfilDefault" ,class: "list-group-image")%>
                                                    <a href="/profile/index" class="btn btn-primary col-xs-12" role="button">Ver Informacion <span class="glyphicon glyphicon-eye-open"></span></a>
                                                    <div class="clearfix"></div>
                                                  </div>
                                             </div>  
                                             <%end%> 
                                          </div>
                                       </div>
                                    
                                    </div>
                                    <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
                                    <a data-slide="next" href="#media" class="right carousel-control">›</a>
                                 </div>
                              </div>
                           </div>

</div>