<section>
	<div class="container">
		<div class="box gap">
			<div class="row">
				<div class="col-sm-3 col-md-3">
					<%= render 'barra_filtros'%>
				</div>
				<div class="col-sm-9 col-md-9">
					<div class="well">
						<%= render 'contenido_busquedas'%>
					</div>
				</div>
			</div>
		</div>
	</section>
