  <!-- Start home section -->
       
         <div id="home">
            <!-- Start cSlider -->
            <div id="da-slider" class="da-slider">
                <div class="triangle"></div>
                <!-- mask elemet use for masking background image -->
                <div class="mask"></div>
                <!-- All slides centred in container element -->
                <div class="container">
                    <!-- Start first slide -->
                    <div class="da-slide">
                        <h2 class="fittext2">Bienvenido a Shannon</h2>
                        <h4>Busca y ofrece servicios profesionales facilmente.</h4>
                        <p>Shannon te permite buscar personal profesional clasificado 
                        que se adapte a la demanda de un servicio o trabajo que solicites u ofrezcas.</p>

                        <a href="#Presentacion" class="da-link button">Leer mas</a>
                        <div class="da-img">
                                <%=image_tag("Slider01.png", width: '320' ,alt: "image01")%>
                        </div>

                    </div>
                    <!-- End first slide -->

                    <!-- Start first slide -->
                    <div class="da-slide">
                        <h2 class="fittext2">Bienvenido a Shannon</h2>
                        <h4>Busca y ofrece servicios profesionales facilmente.</h4>
                        <p>Shannon te permite buscar personal profesional clasificado 
                        que se adapte a la demanda de un servicio o trabajo que solicites u ofrezcas.</p>

                        <a href="#Presentacion" class="da-link button">Leer mas</a>
                        <div class="da-img">
                             <%=image_tag("Slider02.png", width: '320' ,alt: "image02")%>
                        </div>

                    </div>
                    <!-- End first slide -->

                    <!-- Start cSlide navigation arrows -->
                    <div class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </div>
                    <!-- End cSlide navigation arrows -->
                </div>
            </div>
        </div>
        <!-- End home section -->
        <!-- Service section start -->
        <div class="section primary-section" id="Presentacion">
            <div class="container">
                <!-- Start title section -->
                <div class="title">
                    <h1>¿Que es shannon?</h1>
                    <!-- Section's title goes here -->
                    <p>Shannon es una poderosa plataforma  que podras utilizar para 
                         encontrar y ofrecer de la forma mas simple servicios profesionales
                         en tu ciudad o region.
                         Podras buscar cualquier empresa, entidad o persona particular que ofrezca lo que requieres,
                         elegir entre muchas posibilidades y contactar de forma agil, rapida 
                         y gratuita quien mejor se adapte a la demanda del servicio que buscas.</p>
                    <!--Simple description for section goes here. -->
                </div>
            </div>
        </div>
        <!-- Service section end -->
       
       
        
       
       
       
