@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section>
        <div class="container">
            <h2 style="padding-top:50px;">que onda que pex<h2>
        </div>
    </section>
    
    

