<div class="well well-sm well-primary">
   <h3><strong>Enviar mensaje a  esta persona/Negocio: </strong></h3>
    <p>Puede enviar un mensaje privado , nosotros nos aseguraremos que éste sea visto, y nos encargamos de notificarle la respuesta, solo complete los siguientes campos : </p><br/>

</div>