<div class="well well-sm well-primary">
   <h3><strong>Informacion personal / Negocio : </strong></h3>
   <div class="row">
      <div class="col-xs-3 bold">
         <h5><strong>Persona / Negocio :</strong></h5>
      </div>
      <div class="col-xs-3">
         <h5>Persona </h5>
      </div>
      <div class="col-xs-3 bold">
         <h5><strong>Profesion :</strong></h5>
      </div>
      <div class="col-xs-3">
         <h5>Ingeniero de Sistemas</h5>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-3 bold">
         <h5><strong>Años Experiencia:</strong></h5>
      </div>
      <div class="col-xs-3">
         <h5>1 año</h5>
      </div>
      <div class="col-xs-3 bold">
         <h5><strong>Disponibilidad:</strong></h5>
      </div>
      <div class="col-xs-3">
         <h5>Siempre disponible</h5>
      </div>
   </div>
</div>


<div class="well well-sm well-primary">
   <h3><strong>Presentacion:</strong></h3>
   <p>Hola pinche putita.
      Te pones bien cachonda hija de tu puta madre. Quisiera mamartela y saber mamarte meterte la lengua hasta donde no hija de tu puta madre, me cae de a madre así como estas bien abiertita cuando andas cachondiando me gustaria meterte la lengua hasta el culo lamberte el culo sacarte lo que traigas ahi estas bien rica mi amor bien rica ya no quiero estar yo aca Elizabeth tampoco yo quiero mi panochita quiero cojerte todos los dias y mamarte cojerte todos los dias y mamarte saborearme esa panochita sabrosa que todos los días huele bien rico.
   </p>
   
   <div class="container">
      <div class='row'>
         <div class="carousel slide media-carousel" id="media">
            <div class="carousel-inner">
               <div class="item  active">
                  <div class="row">
                     <div class="col-md-4">
                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                     </div>
                     <div class="col-md-4">
                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                     </div>
                     <div class="col-md-4">
                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <div class="row">
                     <div class="col-md-4">
                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                     </div>
                     <div class="col-md-4">
                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                     </div>
                     <div class="col-md-4">
                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                     </div>
                  </div>
               </div>
               <div class="item">
                  <div class="row">
                     <div class="col-md-4">
                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                     </div>
                     <div class="col-md-4">
                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                     </div>
                     <div class="col-md-4">
                        <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
                     </div>
                  </div>
               </div>
            </div>
            <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
            <a data-slide="next" href="#media" class="right carousel-control">›</a>
         </div>
      </div>
   </div>
</div>