<script type="text/javascript">
$(document).ready(function() {
  $('#media').carousel({
    pause: true,
    interval: false,
  });
});
</script>

<div class="row">
   <div class=" col-sm-4">
       <%= render 'imagenCalificacionPerfil'%>
   </div>
   <div class=" col-sm-8">
      <div class="user-info-block">
          <%= render 'presentacionPerfil2'%>
      </div>
   </div>
</div>