 <ul class="navigation">
            <li class="active">
               <a data-toggle="tab" href="#information">
               <span class="glyphicon glyphicon-user"> Informacion</span>
               </a>
            </li>
            <li>
               <a data-toggle="tab" href="#services">
               <span class="glyphicon glyphicon-flag"> Servicios</span>
               </a>
            </li>
            <li>
               <a data-toggle="tab" href="#valoracion">
               <span class="glyphicon glyphicon-star"> Valoracion de la comunidad</span>
               </a>
            </li>
            <li>
               <a data-toggle="tab" href="#contactar">
               <span class="glyphicon glyphicon-envelope"> Contactar</span>
               </a>
            </li>
           
         </ul>
         <div class="user-body">
            <div class="tab-content">
               <div id="information" class="tab-pane active">
                  
                  <%= render 'informacionPerfil'%>
               </div>
               <div id="valoracion" class="tab-pane">
                   <%= render 'valoracionPerfil'%>
               </div>
             
               <div id="services" class="tab-pane">
                    <%= render 'serviciosPerfil'%>
               </div>
                 <div id="contactar" class="tab-pane">
                   <%= render 'contactarPerfil'%>
               </div>
            </div>
         </div>