<div class="well well-sm well-primary">
   <h3><strong>Calificaciones de otros usuarios : </strong></h3>
    <p>A continuacion, usted podrá ver los comentarios y calificacion dada por la comunidad a esta persona/negocio : </p><br/>


    <div class="container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">
                    Comentarios Destacados</h3>
                <span class="label label-info">
                    78 en total</span>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <%for i in 1 .. 2%>
                      <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="http://www.jquery2dotnet.com/2013/10/google-style-login-page-desing-usign.html">
                                        Elver Gomez Torva</a>
                                    <div class="mic-info">
                                        Calificacion : <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span> 5.0 
                                       <br/> Diciendo :
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Hola pinche putita.
                                    Te pones bien cachonda hija de tu puta madre. Quisiera mamartela y saber mamarte meterte la lengua hasta donde no hija de tu puta madre, me cae de a madre así como estas bien abiertita cuando andas cachondiando me gustaria meterte la lengua hasta el culo lamberte el culo sacarte lo que traigas ahi.
                                </div>
                                <div class="action">
                                    <button type="button" class="btn btn-success btn-xs" title="Me gusta">
                                        <span class="glyphicon glyphicon-thumbs-up"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" title="No me gusta">
                                        <span class="glyphicon glyphicon-thumbs-down"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    
                     <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="http://www.jquery2dotnet.com/2013/10/google-style-login-page-desing-usign.html">
                                        Elver Gomez Torva</a>
                                    <div class="mic-info">
                                        Calificacion : <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span> 4.0 
                                       <br/> Diciendo :
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Estas bien rica mi amor bien rica ya no quiero estar yo aca Elizabeth tampoco yo quiero mi panochita quiero cojerte todos los dias y mamarte cojerte todos los dias y mamarte saborearme esa panochita sabrosa que todos los días huele bien rico.
                                </div>
                                <div class="action">
                                    <button type="button" class="btn btn-success btn-xs" title="Me gusta">
                                        <span class="glyphicon glyphicon-thumbs-up"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" title="No me gusta">
                                        <span class="glyphicon glyphicon-thumbs-down"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <%end%>

                   
                </ul>
                <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span>Ver mas comentarios</a>
            </div>
        </div>
    </div>
</div>





</div>