<section style="padding-top: 2%;">
    <div class="container" style="padding-top: 2%;">
        <div class="box  gap">
            <div class="row">
                <%= render 'perfil_usuario'%>
            </div>
        </div>
    </div>
</section>

